@use './common/variable'as *;
@use './mixins/mixins.scss'as *;
@use './common/transition.scss'as *;
@use 'sass:map';

@mixin alert-type($color, $background-color) {
  color: $color;
  background-color: $background-color;
}

@include b(alert) {
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 16px;
  margin-bottom: 5px;
  font-size: 12px;
  border-radius: $alert-border-radius;

  @include e(content) {
    overflow: auto;
    padding-left: 10px;
    padding-right: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    & span {
      vertical-align: 3px;
    }
  }

  @include e(title) {
    $alert__title: true;
    margin: 0;
    font-size: $alert-title-font-size;
    font-weight: bold;
  }

  @include e(description) {
    $alert__desc: true;
    margin: 0px;
    font-size: $alert-description-font-size;
  }

  @include e(close) {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: $alert-description-font-size;
  }


  @each $type in $alert-types {
    &--#{$type} {
      @include alert-type(map.get($colors, #{$type}, 'base'),
        map.get($alert-bg-colors, #{$type}));
    }
  }

  @at-root &.is-center {
    justify-content: center;
  }
}

.vi-alert-fade-enter-from,
.vi-alert-fade-leave-to {
  transform: translateX(100px);
  opacity: 0;
}

.vi-alert-fade-enter-to,
.vi-alert-fade-leave-from {
  opacity: 1;
}

.vi-alert-fade-enter-active,
.vi-alert-fade-leave-active {
  transition: all 0.5s;
}