@use './common/variable' as *;
@use './mixins/mixins.scss' as *;
@use 'sass:map';

@include b(backtop) {
  position: fixed;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: map.get($colors, 'primary', 'base');
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: $box-shadow-light;
  transition: opacity 0.6s;
}

.backtop-fade-enter-from,
.backtop-fade-leave-active {
  opacity: 0;
}

.backtop-fade-leave-from {
  opacity: 1;
}
