@use './common/variable'as *;
@use './mixins/mixins.scss'as *;
@use 'sass:map';

@include b(breadcrumb) {
  font-size: 14px;
  line-height: 1;

  @include e(item) {
    float: left;
    display: inline-flex;
    align-items: center;
  }
}