@use './common/variable' as *;
@use './mixins/mixins.scss' as *;
@use 'sass:map';

@include b(card) {
  overflow: hidden;
  color: $text-color-primary;
  background-color: $vi-card-bg-color;
  border: 1px solid $vi-card-border-color;
  border-radius: $vi-card-border-radius;
  transition: map.get($transition-duration, '');

  @include e(header) {
    box-sizing: border-box;
    padding: calc($el-card-padding - 2px) $el-card-padding;
    border-bottom: 1px solid $vi-card-border-color;
  }

  @include e(body) {
    padding: $el-card-padding;
  }

  @include when(always-shadow) {
    box-shadow: $vi-card-shadow-light;
  }

  @include when(hover-shadow) {
    &:hover {
      box-shadow: $vi-card-shadow-light;
    }
  }

  @include when(never-shadow) {
    box-shadow: none;
  }
}
