@use './mixins/mixins.scss' as *;
@use './common/variable' as *;
@use 'sass:map';
@use 'sass:color';

@include b(carousel) {
  position: relative;
  overflow: hidden;

  @include when(hover) {
    &:hover .vi-carousel__arrow--left {
      opacity: 1;
      transform: translate(0, -50%);
    }

    &:hover .vi-carousel__arrow--right {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }

  @include when(always) {
    .vi-carousel__arrow--left {
      opacity: 1;
      transform: translate(0, -50%);
    }

    .vi-carousel__arrow--right {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }

  @include when(never) {
    .vi-carousel__arrow--left,
    .vi-carousel__arrow--right {
      display: none;
    }
  }

  @include e(horizontal) {
    overflow-x: hidden;
  }

  @include e(vertical) {
    overflow-y: hidden;
  }

  @include e(container) {
    height: 300px;
  }

  @include e(arrow) {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $vi-carousel-arrow-size;
    height: $vi-carousel-arrow-size;
    padding: 0;
    margin: 0;
    font-size: $vi-carousel--arrow-font-size;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    opacity: 0;
    transition: all map.get($transition-duration, '');
    transform: translateY(-50%);

    &:hover {
      background-color: $vi-carousel-arrow-hover-background;
    }

    &:active {
      background-color: darken($vi-carousel-arrow-hover-background, 40%);
    }

    @include m(left) {
      left: 16px;
      background-color: $vi-carousel-arrow-background;
      transform: translate(-100%, -50%);
    }

    @include m(right) {
      right: 16px;
      background-color: $vi-carousel-arrow-background;
      transform: translate(100%, -50%);
    }
  }

  @include e(indicators) {
    position: absolute;
    z-index: 1;
    display: flex;
    padding: 0;
    margin: 0;

    @include m(horizontal) {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    @include m(vertical) {
      top: 50%;
      right: 0;
      flex-direction: column;
      padding: 4px;
      transform: translateY(-50%);

      & button {
        width: 4px;
        height: 12px;
        padding: 0;
      }
    }
  }

  @include e(indicator) {
    padding: 5px;
    list-style: none;
    cursor: pointer;
    background-color: transparent;

    @include when(active) {
      & button {
        background-color: #fff;
        opacity: 1;
      }
    }
  }

  @include e(button) {
    display: block;
    width: 30px;
    height: 2px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: rgb(99 77 77);
    border: none;
    outline: none;
    opacity: 0.48;
    transition: map.get($transition-duration, '');
  }
}
