@use './common/_variable'as *;
@use './mixins/mixins.scss'as *;
@use 'sass:map';

@include b(checkbox) {
  color: $checkbox--font-color;
  font-weight: 300;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  user-select: none;
  margin-right: 30px;
  height: $checkbox--height;

  & input[type='checkbox'] {
    position: relative;
    border: none;
    background-color: transparent;
    appearance: none;
    width: 14px;
    height: 14px;
  }

  & input[type='checkbox']::after {
    position: absolute;
    top: 0;
    background-color: #fff;
    color: #fff;
    width: 14px;
    height: 14px;
    display: inline-block;
    visibility: visible;
    padding-left: 0px;
    text-align: center;
    content: ' ';
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #ddd;
  }

  & input[type='checkbox']:checked::after {
    font-family: $font-family;
    content: "\e886";
    background-color: map.get($colors, 'primary', 'base');
  }

  &:has(input[type='checkbox']:checked) .vi-checkbox__label {
    color: map.get($colors, 'primary', 'base');
  }

  // size
  @each $type in $checkbox-types {
    &--#{$type} {
      font-size: map.get($checkbox-size, $type);
    }
  }

  @include e(input) {
    position: relative;
    white-space: nowrap;
    outline: none;
    display: inline-flex;
  }

  @include e(original) {
    // opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }


  @include e(label) {
    display: inline-block;
    padding-left: 8px;
    line-height: 1;
  }

  @include when(focus) {

    // Visually distinguish when focus
    &:not(.is-checked) {
      .#{$namespace}-checkbox__original:not(:focus-visible) {
        // border-color: getCssVar('checkbox-input-border-color-hover');
        border-color: #ddd;
      }
    }
  }

  @include when(disabled) {
    cursor: not-allowed;
    color: #a8abb2;

    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
    }

    &:has(input[type='checkbox']:checked) .vi-checkbox__label {
      color: #a8abb2;
    }

    input[type='checkbox']::after {
      cursor: not-allowed;
      position: absolute;
      top: 0;
      background-color: rgb(245, 247, 250);
      color: #fff;
      display: inline-block;
      visibility: visible;
      padding-left: 0px;
      text-align: center;
      content: ' ';
      border-radius: 2px;
      box-sizing: border-box;
      border: 1px solid #ddd;
    }

    & input[type='checkbox']:checked::after {
      font-family: $font-family;
      content: "\e886";
      background-color: #ddd;
    }

    & .vi-checkbox__label {
      color: #a8abb2;
      cursor: not-allowed;
    }
  }
}