@use './mixins/mixins' as *;
@use './common/_variable' as *;
@use 'sass:map';

@font-face {
  font-family: $font-family;
  src: url('./fonts/iconfont.woff2') format('woff2'),
    url('./fonts/iconfont.woff') format('woff'),
    url('./fonts/iconfont.ttf') format('truetype');
}

[class^='#{$namespace}-icon-'] {
  font-family: vi-iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vi-icon-down-circle::before {
  content: '\e785';
}

.vi-icon-column-width::before {
  content: '\e885';
}

.vi-icon-zhihu-square-fill::before {
  content: '\e98c';
}

.vi-icon-EURO::before {
  content: '\e786';
}

.vi-icon-check::before {
  content: '\e886';
}

.vi-icon-zoomout::before {
  content: '\e98d';
}

.vi-icon-copyright::before {
  content: '\e787';
}

.vi-icon-ellipsis::before {
  content: '\e887';
}

.vi-icon-apartment::before {
  content: '\e98e';
}

.vi-icon-minus-circle::before {
  content: '\e788';
}

.vi-icon-dash::before {
  content: '\e888';
}

.vi-icon-audio::before {
  content: '\e98f';
}

.vi-icon-meh::before {
  content: '\e789';
}

.vi-icon-close::before {
  content: '\e889';
}

.vi-icon-audio-fill::before {
  content: '\e990';
}

.vi-icon-plus-circle::before {
  content: '\e78a';
}

.vi-icon-enter1::before {
  content: '\e88a';
}

.vi-icon-robot::before {
  content: '\e991';
}

.vi-icon-play-circle::before {
  content: '\e78b';
}

.vi-icon-line::before {
  content: '\e88b';
}

.vi-icon-zoomin::before {
  content: '\e992';
}

.vi-icon-question-circle::before {
  content: '\e78c';
}

.vi-icon-minus::before {
  content: '\e88c';
}

.vi-icon-robot-fill::before {
  content: '\e993';
}

.vi-icon-Pound::before {
  content: '\e78d';
}

.vi-icon-question::before {
  content: '\e88d';
}

.vi-icon-bug-fill::before {
  content: '\e994';
}

.vi-icon-right-circle::before {
  content: '\e78e';
}

.vi-icon-rollback::before {
  content: '\e88e';
}

.vi-icon-bug::before {
  content: '\e995';
}

.vi-icon-smile::before {
  content: '\e78f';
}

.vi-icon-small-dash::before {
  content: '\e88f';
}

.vi-icon-audiostatic::before {
  content: '\e996';
}

.vi-icon-trademark::before {
  content: '\e790';
}

.vi-icon-pause::before {
  content: '\e890';
}

.vi-icon-comment::before {
  content: '\e997';
}

.vi-icon-time-circle::before {
  content: '\e791';
}

.vi-icon-bg-colors::before {
  content: '\e891';
}

.vi-icon-signal-fill::before {
  content: '\e998';
}

.vi-icon-timeout::before {
  content: '\e792';
}

.vi-icon-crown::before {
  content: '\e892';
}

.vi-icon-verified::before {
  content: '\e999';
}

.vi-icon-earth::before {
  content: '\e793';
}

.vi-icon-drag::before {
  content: '\e893';
}

.vi-icon-shortcut-fill::before {
  content: '\e99a';
}

.vi-icon-YUAN::before {
  content: '\e794';
}

.vi-icon-desktop::before {
  content: '\e894';
}

.vi-icon-videocameraadd::before {
  content: '\e99b';
}

.vi-icon-up-circle::before {
  content: '\e795';
}

.vi-icon-gift::before {
  content: '\e895';
}

.vi-icon-switchuser::before {
  content: '\e99c';
}

.vi-icon-warning-circle::before {
  content: '\e796';
}

.vi-icon-stop::before {
  content: '\e896';
}

.vi-icon-whatsapp::before {
  content: '\e99d';
}

.vi-icon-sync::before {
  content: '\e797';
}

.vi-icon-fire::before {
  content: '\e897';
}

.vi-icon-appstoreadd::before {
  content: '\e99e';
}

.vi-icon-transaction::before {
  content: '\e798';
}

.vi-icon-thunderbolt::before {
  content: '\e898';
}

.vi-icon-caret-down::before {
  content: '\e99f';
}

.vi-icon-undo::before {
  content: '\e799';
}

.vi-icon-check-circle-fill::before {
  content: '\e899';
}

.vi-icon-backward::before {
  content: '\e9a0';
}

.vi-icon-redo::before {
  content: '\e79a';
}

.vi-icon-left-circle-fill::before {
  content: '\e89a';
}

.vi-icon-caret-up::before {
  content: '\e9a1';
}

.vi-icon-reload::before {
  content: '\e79b';
}

.vi-icon-down-circle-fill::before {
  content: '\e89b';
}

.vi-icon-caret-right::before {
  content: '\e9a2';
}

.vi-icon-reloadtime::before {
  content: '\e79c';
}

.vi-icon-minus-circle-fill::before {
  content: '\e89c';
}

.vi-icon-caret-left::before {
  content: '\e9a3';
}

.vi-icon-message::before {
  content: '\e79d';
}

.vi-icon-close-circle-fill::before {
  content: '\e89d';
}

.vi-icon-fast-backward::before {
  content: '\e9a4';
}

.vi-icon-dashboard::before {
  content: '\e79e';
}

.vi-icon-info-circle-fill::before {
  content: '\e89e';
}

.vi-icon-forward::before {
  content: '\e9a5';
}

.vi-icon-issuesclose::before {
  content: '\e79f';
}

.vi-icon-up-circle-fill::before {
  content: '\e89f';
}

.vi-icon-fast-forward::before {
  content: '\e9a6';
}

.vi-icon-poweroff::before {
  content: '\e7a0';
}

.vi-icon-right-circle-fill::before {
  content: '\e8a0';
}

.vi-icon-search::before {
  content: '\e9a7';
}

.vi-icon-logout::before {
  content: '\e7a1';
}

.vi-icon-plus-circle-fill::before {
  content: '\e8a1';
}

.vi-icon-retweet::before {
  content: '\e9a8';
}

.vi-icon-piechart::before {
  content: '\e7a2';
}

.vi-icon-question-circle-fill::before {
  content: '\e8a2';
}

.vi-icon-login::before {
  content: '\e9a9';
}

.vi-icon-setting::before {
  content: '\e7a3';
}

.vi-icon-EURO-circle-fill::before {
  content: '\e8a3';
}

.vi-icon-step-backward::before {
  content: '\e9aa';
}

.vi-icon-eye::before {
  content: '\e7a4';
}

.vi-icon-frown-fill::before {
  content: '\e8a4';
}

.vi-icon-step-forward::before {
  content: '\e9ab';
}

.vi-icon-location::before {
  content: '\e7a5';
}

.vi-icon-copyright-circle-fil::before {
  content: '\e8a5';
}

.vi-icon-swap-right::before {
  content: '\e9ac';
}

.vi-icon-edit-square::before {
  content: '\e7a6';
}

.vi-icon-CI-circle-fill::before {
  content: '\e8a6';
}

.vi-icon-swap-left::before {
  content: '\e9ad';
}

.vi-icon-export::before {
  content: '\e7a7';
}

.vi-icon-compass-fill::before {
  content: '\e8a7';
}

.vi-icon-woman::before {
  content: '\e9ae';
}

.vi-icon-save::before {
  content: '\e7a8';
}

.vi-icon-Dollar-circle-fill::before {
  content: '\e8a8';
}

.vi-icon-plus1::before {
  content: '\e9af';
}

.vi-icon-Import::before {
  content: '\e7a9';
}

.vi-icon-poweroff-circle-fill::before {
  content: '\e8a9';
}

.vi-icon-eyeclose-fill::before {
  content: '\e9b0';
}

.vi-icon-appstore::before {
  content: '\e7aa';
}

.vi-icon-meh-fill::before {
  content: '\e8aa';
}

.vi-icon-eye-close::before {
  content: '\e9b1';
}

.vi-icon-close-square::before {
  content: '\e7ab';
}

.vi-icon-play-circle-fill::before {
  content: '\e8ab';
}

.vi-icon-clear::before {
  content: '\e9b2';
}

.vi-icon-down-square::before {
  content: '\e7ac';
}

.vi-icon-Pound-circle-fill::before {
  content: '\e8ac';
}

.vi-icon-collapse::before {
  content: '\e9b3';
}

.vi-icon-layout::before {
  content: '\e7ad';
}

.vi-icon-smile-fill::before {
  content: '\e8ad';
}

.vi-icon-expand::before {
  content: '\e9b4';
}

.vi-icon-left-square::before {
  content: '\e7ae';
}

.vi-icon-stop-fill::before {
  content: '\e8ae';
}

.vi-icon-deletecolumn::before {
  content: '\e9b5';
}

.vi-icon-play-square::before {
  content: '\e7af';
}

.vi-icon-warning-circle-fill::before {
  content: '\e8af';
}

.vi-icon-merge-cells::before {
  content: '\e9b6';
}

.vi-icon-control::before {
  content: '\e7b0';
}

.vi-icon-time-circle-fill::before {
  content: '\e8b0';
}

.vi-icon-subnode::before {
  content: '\e9b7';
}

.vi-icon-codelibrary::before {
  content: '\e7b1';
}

.vi-icon-trademark-circle-fil::before {
  content: '\e8b1';
}

.vi-icon-rotate-left::before {
  content: '\e9b8';
}

.vi-icon-detail::before {
  content: '\e7b2';
}

.vi-icon-YUAN-circle-fill::before {
  content: '\e8b2';
}

.vi-icon-rotate-right::before {
  content: '\e9b9';
}

.vi-icon-minus-square::before {
  content: '\e7b3';
}

.vi-icon-heart-fill::before {
  content: '\e8b3';
}

.vi-icon-insertrowbelow::before {
  content: '\e9ba';
}

.vi-icon-plus-square::before {
  content: '\e7b4';
}

.vi-icon-piechart-circle-fil::before {
  content: '\e8b4';
}

.vi-icon-insertrowabove::before {
  content: '\e9bb';
}

.vi-icon-right-square::before {
  content: '\e7b5';
}

.vi-icon-dashboard-fill::before {
  content: '\e8b5';
}

.vi-icon-table1::before {
  content: '\e9bc';
}

.vi-icon-project::before {
  content: '\e7b6';
}

.vi-icon-message-fill::before {
  content: '\e8b6';
}

.vi-icon-solit-cells::before {
  content: '\e9bd';
}

.vi-icon-wallet::before {
  content: '\e7b7';
}

.vi-icon-check-square-fill::before {
  content: '\e8b7';
}

.vi-icon-formatpainter::before {
  content: '\e9be';
}

.vi-icon-up-square::before {
  content: '\e7b8';
}

.vi-icon-down-square-fill::before {
  content: '\e8b8';
}

.vi-icon-insertrowright::before {
  content: '\e9bf';
}

.vi-icon-calculator::before {
  content: '\e7b9';
}

.vi-icon-minus-square-fill::before {
  content: '\e8b9';
}

.vi-icon-formatpainter-fill::before {
  content: '\e9c0';
}

.vi-icon-interation::before {
  content: '\e7ba';
}

.vi-icon-close-square-fill::before {
  content: '\e8ba';
}

.vi-icon-insertrowleft::before {
  content: '\e9c1';
}

.vi-icon-check-square::before {
  content: '\e7bb';
}

.vi-icon-codelibrary-fill::before {
  content: '\e8bb';
}

.vi-icon-translate::before {
  content: '\e9c2';
}

.vi-icon-border::before {
  content: '\e7bc';
}

.vi-icon-left-square-fill::before {
  content: '\e8bc';
}

.vi-icon-deleterow::before {
  content: '\e9c3';
}

.vi-icon-border-outer::before {
  content: '\e7bd';
}

.vi-icon-play-square-fill::before {
  content: '\e8bd';
}

.vi-icon-sisternode::before {
  content: '\e9c4';
}

.vi-icon-border-top::before {
  content: '\e7be';
}

.vi-icon-up-square-fill::before {
  content: '\e8be';
}

.vi-icon-Field-number::before {
  content: '\e9c5';
}

.vi-icon-border-bottom::before {
  content: '\e7bf';
}

.vi-icon-right-square-fill::before {
  content: '\e8bf';
}

.vi-icon-Field-String::before {
  content: '\e9c6';
}

.vi-icon-border-left::before {
  content: '\e7c0';
}

.vi-icon-plus-square-fill::before {
  content: '\e8c0';
}

.vi-icon-Function::before {
  content: '\e9c7';
}

.vi-icon-border-right::before {
  content: '\e7c1';
}

.vi-icon-accountbook-fill::before {
  content: '\e8c1';
}

.vi-icon-Field-time::before {
  content: '\e9c8';
}

.vi-icon-border-inner::before {
  content: '\e7c2';
}

.vi-icon-carryout-fill::before {
  content: '\e8c2';
}

.vi-icon-GIF::before {
  content: '\e9c9';
}

.vi-icon-border-verticle::before {
  content: '\e7c3';
}

.vi-icon-calendar-fill::before {
  content: '\e8c3';
}

.vi-icon-Partition::before {
  content: '\e9ca';
}

.vi-icon-border-horizontal::before {
  content: '\e7c4';
}

.vi-icon-calculator-fill::before {
  content: '\e8c4';
}

.vi-icon-index::before {
  content: '\e9cb';
}

.vi-icon-radius-bottomleft::before {
  content: '\e7c5';
}

.vi-icon-interation-fill::before {
  content: '\e8c5';
}

.vi-icon-Storedprocedure::before {
  content: '\e9cc';
}

.vi-icon-radius-bottomright::before {
  content: '\e7c6';
}

.vi-icon-project-fill::before {
  content: '\e8c6';
}

.vi-icon-Field-Binary::before {
  content: '\e9cd';
}

.vi-icon-radius-upleft::before {
  content: '\e7c7';
}

.vi-icon-detail-fill::before {
  content: '\e8c7';
}

.vi-icon-Console-SQL::before {
  content: '\e9ce';
}

.vi-icon-radius-upright::before {
  content: '\e7c8';
}

.vi-icon-save-fill::before {
  content: '\e8c8';
}

.vi-icon-vi-icon-test::before {
  content: '\e9cf';
}

.vi-icon-radius-setting::before {
  content: '\e7c9';
}

.vi-icon-wallet-fill::before {
  content: '\e8c9';
}

.vi-icon-aim::before {
  content: '\e9d0';
}

.vi-icon-adduser::before {
  content: '\e7ca';
}

.vi-icon-control-fill::before {
  content: '\e8ca';
}

.vi-icon-compress::before {
  content: '\e9d1';
}

.vi-icon-deleteteam::before {
  content: '\e7cb';
}

.vi-icon-layout-fill::before {
  content: '\e8cb';
}

.vi-icon-expend::before {
  content: '\e9d2';
}

.vi-icon-deleteuser::before {
  content: '\e7cc';
}

.vi-icon-appstore-fill::before {
  content: '\e8cc';
}

.vi-icon-folder-view::before {
  content: '\e9d3';
}

.vi-icon-addteam::before {
  content: '\e7cd';
}

.vi-icon-mobile-fill::before {
  content: '\e8cd';
}

.vi-icon-file-GIF::before {
  content: '\e9d4';
}

.vi-icon-user::before {
  content: '\e7ce';
}

.vi-icon-tablet-fill::before {
  content: '\e8ce';
}

.vi-icon-group::before {
  content: '\e9d5';
}

.vi-icon-team::before {
  content: '\e7cf';
}

.vi-icon-book-fill::before {
  content: '\e8cf';
}

.vi-icon-send::before {
  content: '\e9d6';
}

.vi-icon-areachart::before {
  content: '\e7d0';
}

.vi-icon-redenvelope-fill::before {
  content: '\e8d0';
}

.vi-icon-Report::before {
  content: '\e9d7';
}

.vi-icon-linechart::before {
  content: '\e7d1';
}

.vi-icon-safetycertificate-f::before {
  content: '\e8d1';
}

.vi-icon-View::before {
  content: '\e9d8';
}

.vi-icon-barchart::before {
  content: '\e7d2';
}

.vi-icon-propertysafety-fill::before {
  content: '\e8d2';
}

.vi-icon-shortcut::before {
  content: '\e9d9';
}

.vi-icon-pointmap::before {
  content: '\e7d3';
}

.vi-icon-insurance-fill::before {
  content: '\e8d3';
}

.vi-icon-ungroup::before {
  content: '\e9da';
}

.vi-icon-container::before {
  content: '\e7d4';
}

.vi-icon-securityscan-fill::before {
  content: '\e8d4';
}

.vi-icon-database::before {
  content: '\e7d5';
}

.vi-icon-file-exclamation-fil::before {
  content: '\e8d5';
}

.vi-icon-sever::before {
  content: '\e7d6';
}

.vi-icon-file-add-fill::before {
  content: '\e8d6';
}

.vi-icon-mobile::before {
  content: '\e7d7';
}

.vi-icon-file-fill::before {
  content: '\e8d7';
}

.vi-icon-tablet::before {
  content: '\e7d8';
}

.vi-icon-file-excel-fill::before {
  content: '\e8d8';
}

.vi-icon-redenvelope::before {
  content: '\e7d9';
}

.vi-icon-file-markdown-fill::before {
  content: '\e8d9';
}

.vi-icon-book::before {
  content: '\e7da';
}

.vi-icon-file-text-fill::before {
  content: '\e8da';
}

.vi-icon-filedone::before {
  content: '\e7db';
}

.vi-icon-file-ppt-fill::before {
  content: '\e8db';
}

.vi-icon-reconciliation::before {
  content: '\e7dc';
}

.vi-icon-file-unknown-fill::before {
  content: '\e8dc';
}

.vi-icon-file-exception::before {
  content: '\e7dd';
}

.vi-icon-file-word-fill::before {
  content: '\e8dd';
}

.vi-icon-filesync::before {
  content: '\e7de';
}

.vi-icon-file-zip-fill::before {
  content: '\e8de';
}

.vi-icon-filesearch::before {
  content: '\e7df';
}

.vi-icon-file-pdf-fill::before {
  content: '\e8df';
}

.vi-icon-solution::before {
  content: '\e7e0';
}

.vi-icon-file-image-fill::before {
  content: '\e8e0';
}

.vi-icon-fileprotect::before {
  content: '\e7e1';
}

.vi-icon-diff-fill::before {
  content: '\e8e1';
}

.vi-icon-file-add::before {
  content: '\e7e2';
}

.vi-icon-file-copy-fill::before {
  content: '\e8e2';
}

.vi-icon-file-excel::before {
  content: '\e7e3';
}

.vi-icon-snippets-fill::before {
  content: '\e8e3';
}

.vi-icon-file-exclamation::before {
  content: '\e7e4';
}

.vi-icon-batchfolding-fill::before {
  content: '\e8e4';
}

.vi-icon-file-pdf::before {
  content: '\e7e5';
}

.vi-icon-reconciliation-fill::before {
  content: '\e8e5';
}

.vi-icon-file-image::before {
  content: '\e7e6';
}

.vi-icon-folder-add-fill::before {
  content: '\e8e6';
}

.vi-icon-file-markdown::before {
  content: '\e7e7';
}

.vi-icon-folder-fill::before {
  content: '\e8e7';
}

.vi-icon-file-unknown::before {
  content: '\e7e8';
}

.vi-icon-folder-open-fill::before {
  content: '\e8e8';
}

.vi-icon-file-ppt::before {
  content: '\e7e9';
}

.vi-icon-database-fill::before {
  content: '\e8e9';
}

.vi-icon-file-word::before {
  content: '\e7ea';
}

.vi-icon-container-fill::before {
  content: '\e8ea';
}

.vi-icon-file::before {
  content: '\e7eb';
}

.vi-icon-sever-fill::before {
  content: '\e8eb';
}

.vi-icon-file-zip::before {
  content: '\e7ec';
}

.vi-icon-calendar-check-fill::before {
  content: '\e8ec';
}

.vi-icon-file-text::before {
  content: '\e7ed';
}

.vi-icon-image-fill::before {
  content: '\e8ed';
}

.vi-icon-file-copy::before {
  content: '\e7ee';
}

.vi-icon-idcard-fill::before {
  content: '\e8ee';
}

.vi-icon-snippets::before {
  content: '\e7ef';
}

.vi-icon-creditcard-fill::before {
  content: '\e8ef';
}

.vi-icon-audit::before {
  content: '\e7f0';
}

.vi-icon-fund-fill::before {
  content: '\e8f0';
}

.vi-icon-diff::before {
  content: '\e7f1';
}

.vi-icon-read-fill::before {
  content: '\e8f1';
}

.vi-icon-Batchfolding::before {
  content: '\e7f2';
}

.vi-icon-contacts-fill::before {
  content: '\e8f2';
}

.vi-icon-securityscan::before {
  content: '\e7f3';
}

.vi-icon-delete-fill::before {
  content: '\e8f3';
}

.vi-icon-propertysafety::before {
  content: '\e7f4';
}

.vi-icon-notification-fill::before {
  content: '\e8f4';
}

.vi-icon-safetycertificate::before {
  content: '\e7f5';
}

.vi-icon-flag-fill::before {
  content: '\e8f5';
}

.vi-icon-insurance::before {
  content: '\e7f6';
}

.vi-icon-moneycollect-fill::before {
  content: '\e8f6';
}

.vi-icon-alert::before {
  content: '\e7f7';
}

.vi-icon-medicinebox-fill::before {
  content: '\e8f7';
}

.vi-icon-delete::before {
  content: '\e7f8';
}

.vi-icon-rest-fill::before {
  content: '\e8f8';
}

.vi-icon-hourglass::before {
  content: '\e7f9';
}

.vi-icon-shopping-fill::before {
  content: '\e8f9';
}

.vi-icon-bulb::before {
  content: '\e7fa';
}

.vi-icon-skin-fill::before {
  content: '\e8fa';
}

.vi-icon-experiment::before {
  content: '\e7fb';
}

.vi-icon-video-fill::before {
  content: '\e8fb';
}

.vi-icon-bell::before {
  content: '\e7fc';
}

.vi-icon-sound-fill::before {
  content: '\e8fc';
}

.vi-icon-trophy::before {
  content: '\e7fd';
}

.vi-icon-bulb-fill::before {
  content: '\e8fd';
}

.vi-icon-rest::before {
  content: '\e7fe';
}

.vi-icon-bell-fill::before {
  content: '\e8fe';
}

.vi-icon-USB::before {
  content: '\e7ff';
}

.vi-icon-filter-fill::before {
  content: '\e8ff';
}

.vi-icon-skin::before {
  content: '\e800';
}

.vi-icon-fire-fill::before {
  content: '\e900';
}

.vi-icon-home::before {
  content: '\e801';
}

.vi-icon-funnelplot-fill::before {
  content: '\e901';
}

.vi-icon-bank::before {
  content: '\e802';
}

.vi-icon-gift-fill::before {
  content: '\e902';
}

.vi-icon-filter::before {
  content: '\e803';
}

.vi-icon-hourglass-fill::before {
  content: '\e903';
}

.vi-icon-funnelplot::before {
  content: '\e804';
}

.vi-icon-home-fill::before {
  content: '\e904';
}

.vi-icon-like::before {
  content: '\e805';
}

.vi-icon-trophy-fill::before {
  content: '\e905';
}

.vi-icon-unlike::before {
  content: '\e806';
}

.vi-icon-location-fill::before {
  content: '\e906';
}

.vi-icon-unlock::before {
  content: '\e807';
}

.vi-icon-cloud-fill::before {
  content: '\e907';
}

.vi-icon-lock::before {
  content: '\e808';
}

.vi-icon-customerservice-fill::before {
  content: '\e908';
}

.vi-icon-customerservice::before {
  content: '\e809';
}

.vi-icon-experiment-fill::before {
  content: '\e909';
}

.vi-icon-flag::before {
  content: '\e80a';
}

.vi-icon-eye-fill::before {
  content: '\e90a';
}

.vi-icon-moneycollect::before {
  content: '\e80b';
}

.vi-icon-like-fill::before {
  content: '\e90b';
}

.vi-icon-medicinebox::before {
  content: '\e80c';
}

.vi-icon-lock-fill::before {
  content: '\e90c';
}

.vi-icon-shop::before {
  content: '\e80d';
}

.vi-icon-unlike-fill::before {
  content: '\e90d';
}

.vi-icon-rocket::before {
  content: '\e80e';
}

.vi-icon-star-fill::before {
  content: '\e90e';
}

.vi-icon-shopping::before {
  content: '\e80f';
}

.vi-icon-unlock-fill::before {
  content: '\e90f';
}

.vi-icon-folder::before {
  content: '\e810';
}

.vi-icon-alert-fill::before {
  content: '\e910';
}

.vi-icon-folder-open::before {
  content: '\e811';
}

.vi-icon-api-fill::before {
  content: '\e911';
}

.vi-icon-folder-add::before {
  content: '\e812';
}

.vi-icon-highlight-fill::before {
  content: '\e912';
}

.vi-icon-deploymentunit::before {
  content: '\e813';
}

.vi-icon-phone-fill::before {
  content: '\e913';
}

.vi-icon-accountbook::before {
  content: '\e814';
}

.vi-icon-edit-fill::before {
  content: '\e914';
}

.vi-icon-contacts::before {
  content: '\e815';
}

.vi-icon-pushpin-fill::before {
  content: '\e915';
}

.vi-icon-carryout::before {
  content: '\e816';
}

.vi-icon-rocket-fill::before {
  content: '\e916';
}

.vi-icon-calendar-check::before {
  content: '\e817';
}

.vi-icon-thunderbolt-fill::before {
  content: '\e917';
}

.vi-icon-calendar::before {
  content: '\e818';
}

.vi-icon-tag-fill::before {
  content: '\e918';
}

.vi-icon-scan::before {
  content: '\e819';
}

.vi-icon-wrench-fill::before {
  content: '\e919';
}

.vi-icon-select::before {
  content: '\e81a';
}

.vi-icon-tags-fill::before {
  content: '\e91a';
}

.vi-icon-boxplot::before {
  content: '\e81b';
}

.vi-icon-bank-fill::before {
  content: '\e91b';
}

.vi-icon-build::before {
  content: '\e81c';
}

.vi-icon-camera-fill::before {
  content: '\e91c';
}

.vi-icon-sliders::before {
  content: '\e81d';
}

.vi-icon-error-fill::before {
  content: '\e91d';
}

.vi-icon-laptop::before {
  content: '\e81e';
}

.vi-icon-crown-fill::before {
  content: '\e91e';
}

.vi-icon-barcode::before {
  content: '\e81f';
}

.vi-icon-mail-fill::before {
  content: '\e91f';
}

.vi-icon-camera::before {
  content: '\e820';
}

.vi-icon-car-fill::before {
  content: '\e920';
}

.vi-icon-cluster::before {
  content: '\e821';
}

.vi-icon-printer-fill::before {
  content: '\e921';
}

.vi-icon-gateway::before {
  content: '\e822';
}

.vi-icon-shop-fill::before {
  content: '\e922';
}

.vi-icon-car::before {
  content: '\e823';
}

.vi-icon-setting-fill::before {
  content: '\e923';
}

.vi-icon-printer::before {
  content: '\e824';
}

.vi-icon-USB-fill::before {
  content: '\e924';
}

.vi-icon-read::before {
  content: '\e825';
}

.vi-icon-golden-fill::before {
  content: '\e925';
}

.vi-icon-cloud-server::before {
  content: '\e826';
}

.vi-icon-build-fill::before {
  content: '\e926';
}

.vi-icon-cloud-upload::before {
  content: '\e827';
}

.vi-icon-boxplot-fill::before {
  content: '\e927';
}

.vi-icon-cloud::before {
  content: '\e828';
}

.vi-icon-sliders-fill::before {
  content: '\e928';
}

.vi-icon-cloud-download::before {
  content: '\e829';
}

.vi-icon-alibaba::before {
  content: '\e929';
}

.vi-icon-cloud-sync::before {
  content: '\e82a';
}

.vi-icon-antdesign::before {
  content: '\e92a';
}

.vi-icon-video::before {
  content: '\e82b';
}

.vi-icon-ant-cloud::before {
  content: '\e92b';
}

.vi-icon-notification::before {
  content: '\e82c';
}

.vi-icon-behance::before {
  content: '\e92c';
}

.vi-icon-sound::before {
  content: '\e82d';
}

.vi-icon-googleplus::before {
  content: '\e92d';
}

.vi-icon-radarchart::before {
  content: '\e82e';
}

.vi-icon-medium::before {
  content: '\e92e';
}

.vi-icon-qrcode::before {
  content: '\e82f';
}

.vi-icon-google::before {
  content: '\e92f';
}

.vi-icon-fund::before {
  content: '\e830';
}

.vi-icon-IE::before {
  content: '\e930';
}

.vi-icon-image::before {
  content: '\e831';
}

.vi-icon-amazon::before {
  content: '\e931';
}

.vi-icon-mail::before {
  content: '\e832';
}

.vi-icon-slack::before {
  content: '\e932';
}

.vi-icon-table::before {
  content: '\e833';
}

.vi-icon-alipay::before {
  content: '\e933';
}

.vi-icon-idcard::before {
  content: '\e834';
}

.vi-icon-taobao::before {
  content: '\e934';
}

.vi-icon-creditcard::before {
  content: '\e835';
}

.vi-icon-zhihu::before {
  content: '\e935';
}

.vi-icon-heart::before {
  content: '\e836';
}

.vi-icon-HTML::before {
  content: '\e936';
}

.vi-icon-block::before {
  content: '\e837';
}

.vi-icon-linkedin::before {
  content: '\e937';
}

.vi-icon-error::before {
  content: '\e838';
}

.vi-icon-yahoo::before {
  content: '\e938';
}

.vi-icon-star::before {
  content: '\e839';
}

.vi-icon-facebook::before {
  content: '\e939';
}

.vi-icon-gold::before {
  content: '\e83a';
}

.vi-icon-skype::before {
  content: '\e93a';
}

.vi-icon-heatmap::before {
  content: '\e83b';
}

.vi-icon-CodeSandbox::before {
  content: '\e93b';
}

.vi-icon-wifi::before {
  content: '\e83c';
}

.vi-icon-chrome::before {
  content: '\e93c';
}

.vi-icon-attachment::before {
  content: '\e83d';
}

.vi-icon-codepen::before {
  content: '\e93d';
}

.vi-icon-edit::before {
  content: '\e83e';
}

.vi-icon-aliwangwang::before {
  content: '\e93e';
}

.vi-icon-key::before {
  content: '\e83f';
}

.vi-icon-apple::before {
  content: '\e93f';
}

.vi-icon-api::before {
  content: '\e840';
}

.vi-icon-android::before {
  content: '\e940';
}

.vi-icon-disconnect::before {
  content: '\e841';
}

.vi-icon-sketch::before {
  content: '\e941';
}

.vi-icon-highlight::before {
  content: '\e842';
}

.vi-icon-Gitlab::before {
  content: '\e942';
}

.vi-icon-monitor::before {
  content: '\e843';
}

.vi-icon-dribbble::before {
  content: '\e943';
}

.vi-icon-link::before {
  content: '\e844';
}

.vi-icon-instagram::before {
  content: '\e944';
}

.vi-icon-man::before {
  content: '\e845';
}

.vi-icon-reddit::before {
  content: '\e945';
}

.vi-icon-percentage::before {
  content: '\e846';
}

.vi-icon-windows::before {
  content: '\e946';
}

.vi-icon-pushpin::before {
  content: '\e847';
}

.vi-icon-yuque::before {
  content: '\e947';
}

.vi-icon-phone::before {
  content: '\e848';
}

.vi-icon-Youtube::before {
  content: '\e94b';
}

.vi-icon-shake::before {
  content: '\e849';
}

.vi-icon-Gitlab-fill::before {
  content: '\e94c';
}

.vi-icon-tag::before {
  content: '\e84a';
}

.vi-icon-dropbox::before {
  content: '\e94e';
}

.vi-icon-wrench::before {
  content: '\e84b';
}

.vi-icon-dingtalk::before {
  content: '\e950';
}

.vi-icon-tags::before {
  content: '\e84c';
}

.vi-icon-android-fill::before {
  content: '\e951';
}

.vi-icon-scissor::before {
  content: '\e84d';
}

.vi-icon-apple-fill::before {
  content: '\e952';
}

.vi-icon-mr::before {
  content: '\e84e';
}

.vi-icon-HTML-fill::before {
  content: '\e953';
}

.vi-icon-share::before {
  content: '\e84f';
}

.vi-icon-windows-fill::before {
  content: '\e954';
}

.vi-icon-branches::before {
  content: '\e850';
}

.vi-icon-QQ::before {
  content: '\e955';
}

.vi-icon-fork::before {
  content: '\e851';
}

.vi-icon-twitter::before {
  content: '\e956';
}

.vi-icon-shrink::before {
  content: '\e852';
}

.vi-icon-skype-fill::before {
  content: '\e957';
}

.vi-icon-arrawsalt::before {
  content: '\e853';
}

.vi-icon-weibo::before {
  content: '\e958';
}

.vi-icon-verticalright::before {
  content: '\e854';
}

.vi-icon-yuque-fill::before {
  content: '\e959';
}

.vi-icon-verticalleft::before {
  content: '\e855';
}

.vi-icon-Youtube-fill::before {
  content: '\e95a';
}

.vi-icon-right::before {
  content: '\e856';
}

.vi-icon-yahoo-fill::before {
  content: '\e95b';
}

.vi-icon-left::before {
  content: '\e857';
}

.vi-icon-wechat-fill::before {
  content: '\e95c';
}

.vi-icon-up::before {
  content: '\e858';
}

.vi-icon-chrome-fill::before {
  content: '\e95d';
}

.vi-icon-down1::before {
  content: '\e859';
}

.vi-icon-alipay-circle-fill::before {
  content: '\e95f';
}

.vi-icon-fullscreen::before {
  content: '\e85a';
}

.vi-icon-aliwangwang-fill::before {
  content: '\e960';
}

.vi-icon-fullscreen-exit::before {
  content: '\e85b';
}

.vi-icon-behance-circle-fill::before {
  content: '\e961';
}

.vi-icon-doubleleft::before {
  content: '\e85c';
}

.vi-icon-amazon-circle-fill::before {
  content: '\e962';
}

.vi-icon-doubleright::before {
  content: '\e85d';
}

.vi-icon-codepen-circle-fill::before {
  content: '\e963';
}

.vi-icon-arrowright::before {
  content: '\e85e';
}

.vi-icon-CodeSandbox-circle-f::before {
  content: '\e964';
}

.vi-icon-arrowup1::before {
  content: '\e85f';
}

.vi-icon-dropbox-circle-fill::before {
  content: '\e965';
}

.vi-icon-arrowleft::before {
  content: '\e860';
}

.vi-icon-github-fill::before {
  content: '\e966';
}

.vi-icon-arrowdown1::before {
  content: '\e861';
}

.vi-icon-dribbble-circle-fill::before {
  content: '\e967';
}

.vi-icon-upload::before {
  content: '\e862';
}

.vi-icon-googleplus-circle-f::before {
  content: '\e968';
}

.vi-icon-colum-height::before {
  content: '\e863';
}

.vi-icon-medium-circle-fill::before {
  content: '\e96a';
}

.vi-icon-vertical-align-botto::before {
  content: '\e864';
}

.vi-icon-QQ-circle-fill::before {
  content: '\e96b';
}

.vi-icon-vertical-align-middl::before {
  content: '\e865';
}

.vi-icon-IE-circle-fill::before {
  content: '\e96c';
}

.vi-icon-totop::before {
  content: '\e866';
}

.vi-icon-google-circle-fill::before {
  content: '\e96d';
}

.vi-icon-vertical-align-top::before {
  content: '\e867';
}

.vi-icon-dingtalk-circle-fill::before {
  content: '\e96e';
}

.vi-icon-download::before {
  content: '\e868';
}

.vi-icon-sketch-circle-fill::before {
  content: '\e96f';
}

.vi-icon-sort-descending::before {
  content: '\e869';
}

.vi-icon-slack-circle-fill::before {
  content: '\e970';
}

.vi-icon-sort-ascending::before {
  content: '\e86a';
}

.vi-icon-twitter-circle-fill::before {
  content: '\e971';
}

.vi-icon-fall::before {
  content: '\e86b';
}

.vi-icon-taobao-circle-fill::before {
  content: '\e972';
}

.vi-icon-swap::before {
  content: '\e86c';
}

.vi-icon-weibo-circle-fill::before {
  content: '\e973';
}

.vi-icon-stock::before {
  content: '\e86d';
}

.vi-icon-zhihu-circle-fill::before {
  content: '\e974';
}

.vi-icon-rise::before {
  content: '\e86e';
}

.vi-icon-reddit-circle-fill::before {
  content: '\e975';
}

.vi-icon-indent::before {
  content: '\e86f';
}

.vi-icon-alipay-square-fill::before {
  content: '\e976';
}

.vi-icon-outdent::before {
  content: '\e870';
}

.vi-icon-dingtalk-square-fill::before {
  content: '\e977';
}

.vi-icon-menu::before {
  content: '\e871';
}

.vi-icon-CodeSandbox-square-f::before {
  content: '\e978';
}

.vi-icon-unorderedlist::before {
  content: '\e872';
}

.vi-icon-behance-square-fill::before {
  content: '\e979';
}

.vi-icon-orderedlist::before {
  content: '\e873';
}

.vi-icon-amazon-square-fill::before {
  content: '\e97a';
}

.vi-icon-align-right::before {
  content: '\e874';
}

.vi-icon-codepen-square-fill::before {
  content: '\e97b';
}

.vi-icon-align-center::before {
  content: '\e875';
}

.vi-icon-dribbble-square-fill::before {
  content: '\e97c';
}

.vi-icon-arrowsalt::before {
  content: '\e948';
}

.vi-icon-align-left::before {
  content: '\e876';
}

.vi-icon-dropbox-square-fill::before {
  content: '\e97d';
}

.vi-icon-arrowup::before {
  content: '\e949';
}

.vi-icon-pic-center::before {
  content: '\e877';
}

.vi-icon-facebook-fill::before {
  content: '\e97e';
}

.vi-icon-arrowdown::before {
  content: '\e94a';
}

.vi-icon-pic-right::before {
  content: '\e878';
}

.vi-icon-googleplus-square-f::before {
  content: '\e97f';
}

.vi-icon-down::before {
  content: '\e94d';
}

.vi-icon-pic-left::before {
  content: '\e879';
}

.vi-icon-google-square-fill::before {
  content: '\e980';
}

.vi-icon-enter::before {
  content: '\e94f';
}

.vi-icon-bold::before {
  content: '\e87a';
}

.vi-icon-instagram-fill::before {
  content: '\e981';
}

.vi-icon-plus::before {
  content: '\e95e';
}

.vi-icon-font-colors::before {
  content: '\e87b';
}

.vi-icon-IE-square-fill::before {
  content: '\e982';
}

.vi-icon-warning-o::before {
  content: '\e969';
}

.vi-icon-exclaimination::before {
  content: '\e87c';
}

.vi-icon-medium-square-fill::before {
  content: '\e983';
}

.vi-icon-check-circle::before {
  content: '\e77d';
}

.vi-icon-font-size::before {
  content: '\e87d';
}

.vi-icon-linkedin-fill::before {
  content: '\e984';
}

.vi-icon-CI::before {
  content: '\e77e';
}

.vi-icon-infomation::before {
  content: '\e87e';
}

.vi-icon-QQ-square-fill::before {
  content: '\e985';
}

.vi-icon-Dollar::before {
  content: '\e77f';
}

.vi-icon-line-height::before {
  content: '\e87f';
}

.vi-icon-reddit-square-fill::before {
  content: '\e986';
}

.vi-icon-compass::before {
  content: '\e780';
}

.vi-icon-strikethrough::before {
  content: '\e880';
}

.vi-icon-twitter-square-fill::before {
  content: '\e987';
}

.vi-icon-close-circle::before {
  content: '\e781';
}

.vi-icon-underline::before {
  content: '\e881';
}

.vi-icon-sketch-square-fill::before {
  content: '\e988';
}

.vi-icon-frown::before {
  content: '\e782';
}

.vi-icon-number::before {
  content: '\e882';
}

.vi-icon-slack-square-fill::before {
  content: '\e989';
}

.vi-icon-info-circle::before {
  content: '\e783';
}

.vi-icon-italic::before {
  content: '\e883';
}

.vi-icon-taobao-square-fill::before {
  content: '\e98a';
}

.vi-icon-left-circle::before {
  content: '\e784';
}

.vi-icon-code::before {
  content: '\e884';
}

.vi-icon-weibo-square-fill::before {
  content: '\e98b';
}
