@use './common/variable' as *;
@use './mixins/mixins.scss' as *;
@use './mixins/input.scss' as *;

@include b(input) {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  width: 100%;
  font-size: $font--size-base;
  line-height: $vi-input-height;
  vertical-align: middle;

  @include e(wrapper) {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 1px 11px;
    background-color: $vi-input-bg-color;
    background-image: none;
    border-radius: $vi-input-border-radius;
    box-shadow: 0 0 0 1px $vi-input--box-shadow-color inset;
    transition: $vi-transition-box-shadow;
    transform: translateZ(0);

    &:hover {
      box-shadow: 0 0 0 1px $vi-input--box-shadow-hover-color inset;
    }

    &:has(input:focus) {
      outline: none;
      box-shadow: 0 0 0 1px $vi-input--box-shadow-focus-color inset;
    }

    &:has(input:disabled) {
      background-color: #f5f7fa;
      box-shadow: 0 0 0 1px $vi-input--box-shadow-color inset;
    }

    @include when(prepend) {
      border-radius: 0 $vi-input-border-radius $vi-input-border-radius 0;
    }

    @include when(append) {
      border-radius: $vi-input-border-radius 0 0 $vi-input-border-radius;
    }
  }

  @include e(inner) {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    height: $vi-input-inner-height;
    padding: 0;
    font-size: inherit;
    line-height: $vi-input-inner-height;
    color: $vi-input-text-color;
    background: none;
    border: none;
    outline: none;
    appearance: none;

    &::placeholder {
      color: $vi-input--box-shadow-placehodler-color;
    }

    @include when(disabled) {
      font-weight: 500;
      color: #a8abb2;
      cursor: not-allowed;
      border-color: #e4e7ed;

      &::placeholder {
        color: #c3c4cc;
      }
    }
  }

  @include e(prepend) {
    @include input-mixin(right);

    border-radius: $vi-input-border-radius 0 0 $vi-input-border-radius;
    box-shadow: 1px 0 0 0 $vi-input--box-shadow-hover-color inset,
      0 1px 0 0 $vi-input--box-shadow-hover-color inset,
      0 -1px 0 0 $vi-input--box-shadow-hover-color inset;
  }

  @include e(append) {
    @include input-mixin(left);

    border-radius: 0 $vi-input-border-radius $vi-input-border-radius 0;
    box-shadow: 0 1px 0 0 $vi-input--box-shadow-hover-color inset,
      0 -1px 0 0 $vi-input--box-shadow-hover-color inset,
      -1px 0 0 0 $vi-input--box-shadow-hover-color inset;
  }

  @include e(prefix) {
    margin-right: 0.8rem;
  }

  @include e(suffix) {
    position: absolute;
    right: 0.8rem;
    cursor: pointer;
  }

  @include e(count) {
  }

  &.vi-input--small {
    font-size: 12px;
    line-height: 24px;

    & .vi-input__inner {
      height: 22px;
      line-height: 22px;
    }
  }

  &.vi-input--large {
    font-size: 16px;
    line-height: 40px;

    & .vi-input__inner {
      height: 40px;
      line-height: 22px;
    }
  }
}

@include b(textarea) {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: $font--size-base;
  vertical-align: bottom;

  @include e(inner) {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 5px 11px;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
    color: $vi-input-text-color;
    resize: vertical;
    background-color: $vi-input-bg-color;
    background-image: none;
    border: none;
    border-radius: $vi-input-border-radius;
    outline: none;
    box-shadow: 0 0 0 1px $vi-input--box-shadow-color inset;
    transition: $vi-transition-box-shadow;
    appearance: none;

    &:hover {
      box-shadow: 0 0 0 1px $vi-input--box-shadow-hover-color inset;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px $vi-input--box-shadow-focus-color inset;
    }

    @include when(disabled) {
      font-weight: 500;
      color: #a8abb2;
      cursor: not-allowed;
      border-color: #e4e7ed;

      &::placeholder {
        color: #c3c4cc;
      }

      &:hover {
        box-shadow: 0 0 0 1px $vi-input--box-shadow-color inset;
      }
    }
  }
}
