@use './common/variable'as *;
@use './mixins/mixins.scss'as *;
@use 'sass:map';
@use 'sass:color';

@include b(message) {
  width: fit-content;
  max-width: calc(100% - 32px);
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #ebeef5;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
  background-color: $message-background-color-default;
  transition: all .3s;
  overflow: hidden;
  padding: $message-padding;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 999;
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%),
    0 9px 28px 8px rgb(0 0 0 / 5%);

  @include b(message__close-btn) {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    font-size: $message-close-size;
  }

  @include e(icon) {
    margin-right: 6px;
    vertical-align: middle;
  }

  @include b(message__content) {
    padding-left: 6px;
    padding-right: 31px;
  }

  @include when(center) {
    justify-content: space-between;
  }

  @each $type in $message-type {
    @include m($type) {
      color: map.get($colors, $type, 'base');
      background-color: map-get($map: $message-background-color, $key: $type);
    }
  }

  @include e(close) {
    cursor: pointer;
    margin-left: 10px;
  }
}


.message-fade-enter-active,
.message-fade-leave-from {
  opacity: 1;
  transform: translate(-50%);
}

.message-fade-enter-from,
.message-fade-leave-active {
  opacity: 0;
  transform: translate(-50%, -100%)
}