@use './common/variable' as *;
@use './mixins/mixins.scss' as *;
@use 'sass:map';

@include b(notification) {
  position: fixed;
  z-index: 9999;
  box-sizing: border-box;
  display: flex;
  width: $vi-notification-width;
  padding: $vi-notification-padding;
  overflow: hidden;
  overflow-wrap: anywhere;
  background-color: #fff;
  border: 1px solid $vi-notification-border-color;
  border-radius: $vi-notification-radius;
  box-shadow: $vi-notification-shadow;
  transition: opacity map.get($transition-duration, ''),
    transform map.get($transition-duration, ''),
    left map.get($transition-duration, ''),
    right map.get($transition-duration, ''), top 0.4s,
    bottom map.get($transition-duration, '');

  @include e(icon) {
    padding: 5px;

    @each $type in $notification-types {
      @include when($type) {
        color: map.get($colors, $type, 'base');
      }
    }
  }

  @include e(group) {
    padding: 5px 8px;
  }

  @include e(title) {
    margin: 0;
    font-size: $vi-notification-title-font-size;
    font-weight: bold;
    line-height: 24px;
    color: $vi-notification-title-color;
  }

  @include e(content) {
    margin: 6px 0 0;
    font-size: $vi-notification-content-font-size;
    line-height: 24px;
    color: $vi-notification-content-color;
    text-align: justify;
  }

  @include e(close) {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  &.right {
    right: 16px;
  }

  &.left {
    left: 16px;
  }
}

.notification-fade-enter-from {
  opacity: 0;

  &.right {
    transform: translateX(100%);
  }

  &.left {
    transform: translateX(-100%);
  }
}

.notification-fade-leave-active {
  opacity: 0;
}
