@use './mixins/mixins.scss'as *;
@use './common/variable'as *;

@include b(popover) {
  @include e(container) {
    position: relative;
  }

  position: absolute;
  min-width: 150px;
  background: $vi-bg-color-overlay;
  border-radius: $vi-popover-border-radius;
  border: 1px solid #ebeef5;
  padding: 12px;
  z-index: 2000;
  color: $text-color-regular;
  line-height: 1.4;
  text-align: justify;
  font-size: $vi-popover-font-size;
  box-shadow: $box-shadow-light;
  word-break: break-all;
  box-sizing: border-box;
  border: 1px solid $vi-border-color-light;
  transition: all .3s;

  @include when(bottom) {
    top: 200%;
    left: 0%;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      top: -7%;
      left: 15%;
      transform: rotateZ(45deg)skew(30deg, 30deg);
      background-color: #fff;
      border-left: 1px solid #e4e7ff;
      border-top: 1px solid #e4e7ff;
    }
  }

  @include when(top) {
    bottom: 200%;
    left: -20%;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      bottom: -8%;
      right: 30%;
      transform: rotateZ(45deg)skew(30deg, 30deg);
      background-color: #fff;
      border-right: 1px solid #e4e7ff;
      border-bottom: 1px solid #e4e7ff;
    }
  }

  @include when(left) {
    top: -100%;
    left: -120%;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      top: 30%;
      right: -5%;
      transform: rotateZ(-45deg)skew(30deg, 30deg);
      background-color: #fff;
      border-right: 1px solid #e4e7ff;
      border-bottom: 1px solid #e4e7ff;
    }
  }


  @include when(right) {
    top: -100%;
    left: 120%;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      top: 30%;
      left: -5%;
      transform: rotateZ(135deg)skew(30deg, 30deg);
      background-color: #fff;
      border-right: 1px solid #e4e7ff;
      border-bottom: 1px solid #e4e7ff;
    }
  }

  @include e(title) {
    color: $vi-popover-title-text-color;
    font-size: $vi-popover-title-font-size;
    line-height: 1;
    margin-bottom: 12px;
  }
}

.popover-fade-enter-active {
  opacity: 0;
}

.popover-fade-leave-from {
  opacity: 1;
}

.popover-fade-leave-active {
  opacity: 0;
}