@use './common/variable' as *;
@use './mixins/mixins.scss' as *;
@use 'sass:map';

@include b(progress) {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;

  &-bar {
    box-sizing: border-box;
    flex-grow: 1;

    @include e(outer) {
      position: relative;
      height: 100%;
      overflow: hidden;
      vertical-align: middle;
      background-color: $vi-progress-color;
      border-radius: 100px;
    }

    @include e(inner) {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      line-height: 1;
      text-align: right;
      white-space: nowrap;
      background-color: #20a0ff;
      border-radius: 100px;
      transition: width 0.6s ease;

      &::after {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        content: '';
      }

      @include m(indeterminate) {
        transform: translateX(0);
        animation: indeterminate 3s ease-in-out infinite;
      }
    }

    @include e(text) {
      min-width: 50px;
      margin-left: 5px;
      font-size: 14px;
      line-height: 1;
      color: $vi-progress-color-regular;
    }

    @include e(innerText) {
      & span {
        display: inline-block;
        margin: 0 5px;
        color: #fff;
        vertical-align: middle;
      }
    }
  }

  @each $statu in $vi-progress-status {
    @include when($statu) {
      & .vi-progress-bar__text {
        color: map.get($vi-progress-bgColor, $statu);
      }

      & .vi-progress-bar__inner {
        background-color: map.get($vi-progress-bgColor, $statu);
      }
    }
  }

  @include m((circle, dashboard)) {
    display: inline-block;

    & .vi-progress-bar__text {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      margin: 0;
      text-align: center;
      transform: translateY(-50%);
    }
  }
}

@keyframes indeterminate {
  0% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateX(180%);
  }
}
