@use './common/variable'as *;
@use './mixins/mixins.scss'as *;
@use 'sass:map';
@use 'sass:color';

@include b(tag) {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 0 9px;
  font-size: $vi-tag-font-size;
  line-height: 1;
  white-space: nowrap;
  border-style: solid;
  border-width: 1px;
  border-radius: $vi-tag-border-radius;

  &.vi-tag--light {
    &>.vi-tag--close {

      &:hover {
        color: #ccc;
        background-color: #533636;
      }
    }
  }

  &.vi-tag--dark {
    color: #fde7e7;
    background-color: #5c616e;
    border-color: #dcdfe6;

    &>.vi-tag--close {
      color: #dcdfe6;

      &:hover {
        background-color: lighten(#5c616e, 15%);
      }
    }
  }

  @each $type in $tag-types {
    @include m($type) {
      &.vi-tag--light {
        color: lighten(map.get($colors, $type, 'base'), 8%);
        background-color: transparentize(map.get($colors, $type, 'base'), 0.75);
        border-color: transparentize(map.get($colors, $type, 'base'), 0.85);
      }

      &.vi-tag--light {
        &>.vi-tag--close {
          color: lighten(map.get($colors, $type, 'base'), 8%);

          &:hover {
            color: $color-white;
            background-color: map.get($colors, $type, 'base');
          }
        }
      }

      &.vi-tag--dark {
        color: $color-white;
        background-color: map.get($colors, $type, 'base');
      }

      &.vi-tag--dark {
        &>.vi-tag--close {
          color: $color-white;

          &:hover {
            background-color: lighten(map.get($colors, $type, 'base'), 13%);
          }
        }
      }

      &.vi-tag--plain {
        color: map.get($colors, $type, 'base');
      }

      &.vi-tag--plain {
        &>.vi-tag--close {
          color: map.get($colors, $type, 'base');

          &:hover {
            color: $color-white;
            background-color: map.get($colors, $type, 'base');
          }
        }
      }

      @include when(hit) {
        border-color: map.get($colors, $type, 'base');
      }
    }
  }

  // Close Icon
  @include m(close) {
    padding: 1px;
    cursor: pointer;
    border-radius: 50%;
    transform: translate(5px, 1px);
  }

  // Size
  @each $size in ('small', 'default', 'large') {
    @include m($size) {
      height: map.get($tag-sizes, $size, 'height');
      padding: map.get($tag-sizes, $size, 'padding');

      &>.vi-tag--close {
        font-size: map.get($tag-sizes, $size, 'icon-size');
      }
    }
  }

  // Round
  @include when(round) {
    border-radius: $vi-tag-round;
  }
}