/* Element Chalk Variables */
@use 'sass:math';
@use 'sass:map';
@use 'sass:color';


/*   z-index
***************/
$index-normal: 1 !default;


/* Tansition
--------- */
$font-family:vi-iconfont;

/* Tansition
--------- */
$transition-all: all .2s !default;
$fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;

// Default color
$color-white:white;
$color-black:black;
$text-color:#606266;
$text-color-primary:#303133;
$text-color-regular:#606266;

/* Font size
-------------------*/
$font--size-base:14px !default;

// Types
$types: default,
primary,
success,
warning,
danger,
error,
info;

// Color
$colors: () !default;
$colors: map.deep-merge(('default': ('base': #606266,
    ),
    'primary': ('base': #409eff,
    ),
    'success': ('base': #67c23a,
    ),
    'warning': ('base': #e6a23c,
    ),
    'danger': ('base': #f02a2a,
    ),
    'error': ('base': #f56c6c,
    ),
    'info': ('base': #909399,
    ),
  ),
  $colors);

// Disable color
$disabled-colors:() !default;
$disabled-colors: map.deep-merge(('white': #ffffff,
    'black': #000000,
    'default': ('disabled':#606266,
    ),
    'primary': ('disabled': #a0cfff,
    ),
    'success': ('disabled': #b3e19d,
    ),
    'warning': ('disabled': #f3d19e,
    ),
    'danger': ('disabled': #fab6b6,
    ),
    'error': ('disabled': #f58b8b,
    ),
    'info': ('disabled': #c8c9cc,
    ),
  ),
  $disabled-colors);


$color-success-lighter: mix(#fff, #67c23a, 90%) !default;
$color-warning-lighter: mix(#fff, #e6a23c, 90%) !default;
$color-danger-lighter: mix(#fff, #f56c6c, 90%) !default;
$color-info-lighter: mix(#fff, #e3e5e9, 90%) !default;

/* Border 
---------*/
$border-width-base: 1px !default;
$border-style-base: solid !default;
$border-color-base: #dcdfe6 !default;
$border-radius-base: 4px !default;
$border-base: $border-width-base $border-style-base $border-color-base;

/*  Button Size
--------------*/
$vi-button--large:40px;
$vi-button--default:40px;
$vi-button--small:24px;

$vi-button--sizeType: large,
default,
small;

$vertical-large: 8px;
$vertical-default: 5px;
$vertical-small: 2px;
$horizontal-large: 12px;
$horizontal-default: 8px;
$horizontal-small: 4px;
$border-radius-large: 6px;
$border-radius-default: 5px;
$border-radius-small: 5px;

$vi-button--sizes:() !default;
$vi-button--sizes: map.deep-merge(('large':('vertical':$vertical-large, 'horizontal':$horizontal-large, 'font-size':$font--size-base, 'border-radius':$border-radius-large, 'height':40px),
    'default':('vertical':$vertical-default, 'horizontal':$horizontal-default, 'font-size':$font--size-base, 'border-radius':$border-radius-default, 'height':35px),
    'small':('vertical':$vertical-small, 'horizontal':$horizontal-small, 'font-size':$font--size-base, 'border-radius':$border-radius-small, 'height':30px),
  ), $vi-button--sizes);


// round 
$vi-button-round: 20px;

// circle
$vi-button-circle: 50%;


/*  ButtonGroup
------------*/
$button-border-radius:$border-radius-base !default;


/* Text
-----------*/
$text--types:primary,
success,
warning,
danger,
error,
info;


/* Text Size
-----------*/
$text-size--large:16px;
$text-size--default:14px;
$text-size--small:12px;


$text--types:() !default;
$text--types:map.deep-merge(('large': ('base':16px),
    'default':('base':14px),
    'small':('base':12px)),
  $disabled-colors);


/*  Alert
----------------------*/
$alert-types: info,
success,
error,
warning;

$alert-border-radius: $border-radius-base !default;
$alert-padding: 8px 16px !default;
$alert-title-font-size: 14px !default;
$alert-description-font-size: 12px !default;
$alert-close-font-size: 12px !default;
$alert-close-customed-font-size: 13px !default;

$alert-success-color: mix($color-white, #67c23a, 85%) !default;
$alert-info-color: mix($color-white, #909399, 85%) !default;
$alert-error-color: mix($color-white, #f56c6c, 85%) !default;
$alert-warning-color: mix($color-white, #e6a23c, 85%) !default;

$alert-bg-colors:() !default;
$alert-bg-colors:map.deep-merge(('info': $alert-info-color,
    'success':$alert-success-color,
    'warning':$alert-warning-color,
    'error':$alert-error-color),
  $alert-bg-colors);

$alert-icon-size: 16px !default;
$alert-icon-large-size: 28px !default;


/*     Checkbox
------------------ */
$checkbox-types: large,
default,
small;

$checkbox-size:() !default;
$checkbox-size:map.deep-merge(('large':16px, 'default':14px, 'small':12px),
  $checkbox-size);


$checkbox--font-weight:() !default;
$checkbox--font-weight:map.deep-merge(('large':500,
    'default':300,
    'small':100), $checkbox--font-weight);


$vi-checkbox-font-size:14px;
$checkbox--height:32px;
$checkbox--font-color:#606266;

$vi-checkbox-bg-color:#f2f6fc;
$vi-checkbox-boder-color:#dcdfe6;
$vi-checkbox-input-border:1px solid $vi-checkbox-boder-color;
$vi-checkbox-disabled-checked-icon-color:#a8abb2;
$vi-checkbox-checked-icon-color:$color-white;
$vi-checkbox-checked-input-border-color:#409eff;
$vi-checkbox-checked-bg-color:#409eff;
$vi-checkbox-input-border-color-hover:#409eff;

$vi-checkbox-input-width:14px;
$vi-checkbox-input-height:14px;
/*     Input
---------- --------*/
$vi-input-type: text,
textarea;

$vi-input-height: 32px;
$vi-input-inner-height: calc($vi-input-height - 2px);

// input font color
$vi-input-text-color:$text-color-regular;
$vi-input-bg-color:#fff;

$vi-input-border-radius:4px;

// box-shdow color
$vi-input--box-shadow-color:#dcdfe6;
$vi-input--box-shadow-hover-color:#c0c4cc;
$vi-input--box-shadow-placehodler-color:#adb0b8;
$vi-input--box-shadow-focus-color:#409eff;

$vi-transition-box-shadow: box-shadow .2s cubic-bezier(.645, .045, .355, 1);

$vi-input-fill-clolr:#f5f7fa !default;
$vi-input-info-color:#909399 !default;



/*    Progress
********************/
$vi-progress-status:default,
warning,
success,
exception;

$vi-progress-bgColor:() !default;
$vi-progress-bgColor:map.deep-merge(('default':#20a0ff, 'success':#13ce66,
    'warning':#e6a23c, 'exception':#ff4949),
  $vi-progress-bgColor);

$vi-progress-color:#ebeef5 !default;
$vi-progress-color-regular:$text-color-regular !default;


/*    Dialog
****************/
$vi-dialog-width:50%;
$vi-dialog-margin-top: 15vh;
$vi-dialog-bg-color: #fff;
$vi-dialog-boxshadow: 0px 12px 32px 4px rgba(0, 0, 0, .04),
0px 8px 20px rgba(0, 0, 0, .08);
$vi-progress-text-color-primary:$text-color-primary;
$vi-dialog-title-font-size: 18px;
$vi-dialog-content-font-size: 14px;
$vi-dialog-font-line-height: 24px;
$vi-dialog-font-padding-primary: 20px;
$vi-dialog-font-border-radius: 4px;

$transition-duration: () !default;
$transition-duration: map.merge(('': 0.3s,
    'fast': 0.2s,
  ),
  $transition-duration);


/* Box-shadow */
$box-shadow-base: 0 2px 4px rgb(0 0 0 / 12%),
0 0 6px rgb(0 0 0 / 4%) !default;
$box-shadow-dark: 0 2px 4px rgb(0 0 0 / 12%),
0 0 6px rgb(0 0 0 / 12%) !default;
$box-shadow-light: 0 2px 12px 0 rgb(0 0 0 / 10%) !default;


/*      Message
*********************/
$message-type:success,
error,
info,
warning;

$message-background-color:() !default;
$message-background-color:map.deep-merge(('success':#f0f9eb,
    'error':#fef0f0, 'info':#f4f4f5, 'warning':#fdf6ec),
  $message-background-color);

$message-shadow: $box-shadow-base !default;
$message-min-width: 380px !default;
$message-background-color-default: #edf2fc !default;
$message-padding: 15px 15px 15px 20px !default;
$message-close-icon-color: #c0c4cc !default;
$message-close-size: 16px !default;
$message-close-hover-color: #909399 !default;

$message-success-font-color: $color-success-lighter !default;
$message-info-font-color: $color-info-lighter !default;
$message-warning-font-color: $color-warning-lighter !default;
$message-danger-font-color: $color-danger-lighter !default;


/*     Notification
****************************/
$notification-types: info,
success,
error,
warning;


$vi-notification-width:330px;
$vi-notification-padding:14px 26px 14px 13px;
$vi-notification-radius:8px;
$vi-notification-border-color:#ebeef5;
$vi-notification-shadow:0px 0px 12px rgba(0, 0, 0, .12);
$vi-notification-title-font-size:16px;
$vi-notification-content-font-size:14px;
$vi-notification-title-color:$text-color-primary;
$vi-notification-content-color:$text-color;



/*    Carousel
*********************/
$vi-carousel-arrow-size:36px;
$vi-carousel-arrow-background:rgba(31, 45, 61, .11);
$vi-carousel-arrow-hover-background:rgba(31, 45, 61, .41);
$vi-carousel--arrow-font-size:12px;


/*    Avatar
**********************/
$vi-avatar-text-color:#ffffff;
$vi-avatar-bg-color:#c0c4cc;
$vi-avatar-icon-size:18px;
$vi-avatar-size-large:56px;
$vi-avatar-size-small:24px;

$avatar-size:() !default;
$avatar-size: map.deep-merge(('small': $vi-avatar-size-small, 'large': $vi-avatar-size-large), $avatar-size);


/*          Card
****************************/
$vi-card-shadow-light:0 0 12px rgba(0, 0, 0, .12);
$vi-card-border-radius:4px;
$vi-card-border-color:#e4ede7;
$vi-card-bg-color:#ffffff;
$el-card-padding:20px;


/*        Tag
***************************/
$tag-types:primary,
success,
warning,
danger,
error,
info;

$vi-tag-icon-size-large:16px;
$vi-tag-icon-size-default:14px;
$vi-tag-icon-size-small:12px;

$tag-sizes:() !default;
$tag-sizes:map.deep-merge(('small':('padding':0 7px, 'height':20px, 'icon-size':$vi-tag-icon-size-small),
    'default':('padding':0 9px, 'height':24px, 'icon-size':$vi-tag-icon-size-default),
    'large':('padding':0 11px, 'height':32px, 'icon-size':$vi-tag-icon-size-large)), $tag-sizes);

$vi-tag-font-size:12px;
$vi-tag-border-radius:4px;
$vi-tag-round: 9999px;


/*        Popover
**************************/
$vi-popover-palcement: 'top',
'bottom',
'left',
'right';

$vi-bg-color-overlay: $color-white;
$vi-border-color-light: #e4e7ff;

$vi-popover-font-size:12px;
$vi-popover-title-font-size:16px;
$vi-popover-border-radius:4px;
$vi-popover-border-radius:4px;
$vi-popover-title-text-color:$text-color-primary;


/*    Link
**************************/
$vi-link-font-size:14px;
$vi-link-font-weight:500;
$vi-link-text-color:#606266;


/*     Dividert
******************/
$vi-divider-bg:$color-white;